<!DOCTYPE html>
<html ng-app="jcApp" ng-controller="jcCtrl">
<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
<link href="assets/styles/styles.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-cloak>

<div class="page_container">

	<!-- INTRO -->
	<section class="intro">
		<div class="overlay blue"></div>
		<div class="intro__content">
			<p class="large">Hi.</p>
			<h1>I'm <strong>{{ firstname + ' ' + lastname }}</strong></h1>
			<hr />
			<p class="small">web developer</p>
			<div class="intro__content__img"></div>
		</div>
	</section>

	<!-- ABOUT -->
	<section class="about">
		<div class="col-40"></div>
		<div class="col-60">
			<div class="about__content">
				<h1><strong>About</strong> Me</h1>
				<hr />
				<div ng-bind-html="about"></div>
			</div>
		</div>
	</section>

	<!-- SKILLS -->
	<section class="skills">
		<div class="overlay blue"></div>
		<div class="content_container">
			<h1>Skills</h1>
			<hr />
			<div class="skills_list">
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
				<div class="skill"></div>
			</div>
		</div>
	</section>

	<!-- EXPERIENCE -->
	<section class="experience">
		<div class="overlay gray"></div>
		<div class="content_container">
			<h1>Experience</h1>
			<hr />
			<div class="timeline">
				<div class="timeline__vline"></div>
				<div class="timeline__circle"></div>
				<div class="job" ng-repeat="e in employment" ng-class-odd="'left'" ng-class-even="'right'">
					<div class="small_line"></div>
					<span class="job_info">{{ e.company }}</span>
					<span class="job__title">{{ e.title }}</span>
					<span class="job__info">{{ e.startdate + ' - ' + e.enddate }}</span>
				</div>
			</div>
		</div>
	</section>

	<section class="education">
		<div class="overlay blue"></div>
		<div class="content_container">
			<h1>Education</h1>
			<hr />
			<p>{{ education[0].school }}</p>
			<p class="small-text">{{ education[0].location }}</p>
			<div class="shu"></div>
			<p ng-repeat="d in education[0].degrees">{{ d }}</p>

		</div>
	</section>

	<section class="contact">
		<div class="content_container">
			<h1><strong>Contact</strong> Me</h1>
			<hr />
			<div class="contact_form">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec libero sed massa tincidunt placerat quis et orci. Nunc et urna quis erat vehicula vehicula. Vestibulum eget mauris sed lacus scelerisque iaculis. 
				</p>
				<form id="form_contact" name="form_contact">
					<div class="row">
						<label for="txt_name">Name:*</label>
						<input id="txt_name" name="txt_name" type="text" />
					</div>
					<div class="row">
						<label for="txt_company">Company:</label>
						<input id="txt_company" name="txt_company" type="text" />
					</div>
					<div class="row">
						<div class="col-left">
							<label for="txt_email">E-mail:*</label>
							<input id="txt_email" name="txt_email" type="text" />
						</div>
						<div class="col-right">
							<label for="txt_phone">Phone:*</label>
							<input id="txt_phone" name="txt_phone" type="text" />
						</div>
					</div>
					<div class="row">
						<label for="txt_message">What would you like to talk about?:*</label>
						<textarea id="txt_message" name="txt_message"></textarea>
					</div>
					<div class="row">
						<input type="submit" value="submit">
					</div>
				</form>
			</div>
		</div>
	</section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js/main.min.js"></script>
</body>

</html>