<!DOCTYPE html>
<html ng-app="jcApp" ng-controller="jcCtrl">
<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
<link href="assets/styles/styles.css" rel="stylesheet" />
<link href="assets/styles/libs/hamburgers.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://use.fontawesome.com/6c101a37f5.js"></script>
</head>

<body ng-cloak>

<nav class="nav">
	<div class="nav__toggle">
		<!-- hamburger menu -->
		<div class="hamburger hamburger--spin">
		  <div class="hamburger-box">
		    <div class="hamburger-inner"></div>
		  </div>
		</div>
	</div>

	<ul>
		<li ng-repeat="n in nav"><a href="{{ n.link }}">{{ n.text }}</a></li>
	</ul>
</nav>

<div class="social">
	<div class="social__link"><i class="fa fa-twitter" aria-hidden="true"></i></div>
	<div class="social__link"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
	<div class="social__slideout">
		<div class="slide">
			<span><strong>{{ firstname + ' ' + lastname}}</strong>web developer</span>
		</div>
	</div>
</div>

<div class="page_container">

	<!-- INTRO -->
	<section id="intro" class="intro">
		<div class="overlay blue"></div>
		<div class="intro__content">
			<p class="large">Hi.</p>
			<h1 class="title-name">I'm <strong>{{ firstname + ' ' + lastname }}</strong></h1>
			<hr />
			<p class="small">web developer</p>
			<div class="intro__content__img"></div>
		</div>
		<div class="btn_down" ng-click="scrollDown()"></div>
	</section>

	<!-- ABOUT -->
	<section id="about" class="about">
		<div class="col-40"></div>
		<div class="col-60">
			<div class="about__content">
				<h1><strong>About</strong> Me</h1>
				<hr />
				<div ng-bind-html="about"></div>
			</div>
		</div>
	</section>

	<!-- SKILLS -->
	<section id="skills" class="skills">
		<div class="overlay blue"></div>
		<div class="content_container">
			<h1>Skills</h1>
			<hr />
			<div class="skills_list">
				<div class="skill html5"></div>
				<div class="skill css3"></div>
				<div class="skill js"></div>
				<div class="skill jquery"></div>
				<div class="skill php"></div>
				<div class="skill mysql"></div>
				<div class="skill aspnet"></div>
				<div class="skill sql"></div>
				<div class="skill sass"></div>
				<div class="skill bootstrap"></div>
				<div class="skill angular"></div>
				<div class="skill backbone"></div>
				<div class="skill wordpress"></div>
				<div class="skill gulp"></div>
				<div class="skill grunt"></div>
				<div class="skill git"></div>
			</div>
		</div>
	</section>

	<!-- EXPERIENCE -->
	<section id="experience" class="experience">
		<div class="overlay gray"></div>
		<div class="content_container">
			<h1>Experience</h1>
			<hr />
			<div class="timeline">
				<div class="timeline__vline"></div>
				<div class="timeline__circle"></div>
				<div class="job" ng-repeat="e in employment" ng-class-odd="'left'" ng-class-even="'right'">
					<div class="small_line"></div>
					<span class="job_info">{{ e.company }}</span>
					<span class="job__title">{{ e.title }}</span>
					<span class="job__info">{{ e.startdate + ' - ' + e.enddate }}</span>
				</div>
			</div>
		</div>
	</section>

	<section id="education" class="education">
		<div class="overlay blue"></div>
		<div class="content_container">
			<h1>Education</h1>
			<hr />
			<p>{{ education[0].school }}</p>
			<p class="small-text">{{ education[0].location }}</p>
			<div class="shu"></div>
			<p ng-repeat="d in education[0].degrees">{{ d }}</p>

		</div>
	</section>

	<section id="contact" class="contact">
		<div class="content_container">
			<h1><strong>Contact</strong> Me</h1>
			<hr />
			<div class="contact_form">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec libero sed massa tincidunt placerat quis et orci. Nunc et urna quis erat vehicula vehicula. Vestibulum eget mauris sed lacus scelerisque iaculis. 
				</p>
				<form id="form_contact" name="form_contact">
					<div class="row">
						<label for="txt_name">Name:*</label>
						<input id="txt_name" name="txt_name" type="text" />
					</div>
					<div class="row">
						<label for="txt_company">Company:</label>
						<input id="txt_company" name="txt_company" type="text" />
					</div>
					<div class="row">
						<div class="col-left">
							<label for="txt_email">E-mail:*</label>
							<input id="txt_email" name="txt_email" type="text" />
						</div>
						<div class="col-right">
							<label for="txt_phone">Phone:*</label>
							<input id="txt_phone" name="txt_phone" type="text" />
						</div>
					</div>
					<div class="row">
						<label for="txt_message">What would you like to talk about?:*</label>
						<textarea id="txt_message" name="txt_message"></textarea>
					</div>
					<div class="row">
						<input type="submit" value="submit">
					</div>
				</form>
			</div>
		</div>
	</section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js/main.min.js"></script>
</body>

</html>