.education{
	background:url('/assets/img/bg-temp.jpg') no-repeat;
	background-size:cover;

	p{
		&:first-of-type{
			margin-top:40px;
		}

		font-family:$default-font;
		font-size:24px;
		color:#FFF;
		text-align:center;
		margin:0px;
		padding:0px;
		font-weight:bold;

		&.small-text{
			font-size:18px;
			color:$text-gray;
		}
	}

	.shu{
		position: relative;
	    display: block;
	    width: 180px;
	    height: 144px;
	    margin: 20px auto;
		background:url('/assets/img/shu.png') no-repeat;
		background-size:cover;
	}

}