section.experience{
	background:url('/assets/img/bg3.jpg') no-repeat;
	background-size:cover;
	padding-bottom:60px;

	@media screen and (max-width:$phone){
		padding-bottom:20px;	
	}


	.timeline{
		position:relative;
		width:90%;
		max-width:700px;
		margin:60px auto;
		padding-bottom:60px;

		@media screen and (max-width:$sub-tablet){
			padding-bottom:0px;
			margin:60px auto 20px;
		}

		@media screen and (max-width:$phone){
			margin:30px auto 20px;
		}


		&__vline{
			position:absolute;
			left:50%;
			width:1px;
			height:100%;
			background:#FFF;

			@media screen and (max-width:$sub-tablet){
				display:none;	
			}
		}

		&__circle{
			position:absolute;
			bottom:0px;
			left:50%;
			width:10px;
			height:10px;
			margin-left:-5px;
			background:#FFF;

			@media screen and (max-width:$sub-tablet){
				display:none;	
			}
		}

		.job{
			position:relative;
			font-family: $default-font;
			color:$text-gray;
			width:44%;
			font-weight:bold;
			padding-bottom:40px;

			@media screen and (max-width:$tablet-landscape){
				padding-bottom:20px;
			}

			@media screen and (max-width:$sub-tablet){
				width:90%;
				margin:auto;
			}

			@media screen and (max-width:$phone){
				padding-bottom:24px;
			}

			.small_line{
				position:absolute;
				top:0px;
				height:1px;
				width:20px;
				background:#FFF;
				@media screen and (max-width:$sub-tablet){
					display:none;	
				}
			}

			span{
				display:block;
			}

			&.left{
				text-align: right;
				padding-right:6%;

				@media screen and (max-width:$sub-tablet){
					text-align: center;	
					padding-right:0px;
				}

				.small_line{
					right:0px;
				}
			}

			&.right{
				text-align: left;
				padding-left:6%;
				margin-left:50%;

				@media screen and (max-width:$sub-tablet){
					text-align: center;	
					margin-left:auto;
					padding-left:0px;
				}

				.small_line{
					left:0px;
				}
			}

			&__title{
				font-size:24px;
				color:#FFF;

				@media screen and (max-width:$phone){
					font-size:18px;
				}
			}
		}
	}
}