$text-gray:#999;
$dark-gray:#333;
$dark-gray-2:#999;
$text-blue:#000066;
$skill-bg:rgba(0,0,51,.9);
$btn-gray:rgba(204,204,204,.5);
$btn-gray-hover:rgba(204,204,204,.8);
$arrow-blue:#000033;


/* overlays */
$nav-bg: #333;
$overlay-blue: rgba(0,0,51,.9);
$overlay-blue-social: rgba(0,0,51,.8);
$overlay-gray: rgba(51,51,51,.9);

/* breakpoints */
$desktop:992px;
$tablet-portrait:768px;
$sub-tablet:767px;
$phone:480px;
$phone-small:320px;
$max-nav:400px;